h1 {
    color:red;
    font-family:cursive;
}

.container {
    display:flex;
    width:15%;
    flex-wrap:wrap;
    margin-top:1rem;
}
    
.container>div {
    display:flex;
    width: 100px;
    height: 100px;
    border: 5px solid #2c9978;
    margin: 2px;
    border-radius:10px;
    font-size:60px;
    justify-content:center;
    align-items:center;
}

#player {
    font-size:20px;
    width:400px;
    text-align:center;
}

button {
    font-size:20px;
    padding:0.5rem;
    margin-top:1rem;
}

#scoreX,
#scoreO {
    font-size : 30px;
    color : red;
}

.score {
    font-size:15px;
}

.win  {
    background-color: green;
    color:white;
    font-size:40px;
}